:root {
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --main-text: hsl(215, 51%, 70%)
  }

  body {
      background-color: var(--main-bg-color);
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      min-height: 100vh;
      font-weight: 300;
      font-family: 'Outfit', sans-serif;
      
  }

  hr {
      height: 1px;
      background-color: var(--line-color);
      border: none;
  }

  .card-container {
    background-color: var(--card-bg-color);
    padding: 25px;
    width: 280px;
    border-radius: 15px;
}
  
.glass-cube {
    height: 280px;
    border-radius: 8px;
}

  .nft-name-number, .mans-name {
      color: var(--white);
  }

  .nft-description, .nft-time-limit, .image-and-creator-name {
    color: var(--main-text);
  }

  .eth-and-time {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .nft-price {
      color:#00FFF8;
  }

  .image-and-creator-name {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
  }

.mans-picture {
    height: 30px;
}


.attribution {
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%)
}